/* ----------------------------------------复用类----------------------------------- */
.blue-link{
    color: #337ab7!important;
}
header {
    border-bottom: 1px solid #e1e4e8;
    height: 50px;
    line-height: 50px;
  }
.text-overflow{
    display:block;/*内联对象需加*/
    width:100%;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
 .relative {
    position: relative;
}
.black-btn{
    background-color: black;
    color: #fff;
}
.common-btn{
display: inline-block;
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 3px;
min-width: 100px;
}
/* ----------------------------------------更改默认样式----------------------------------- */
.common-btn[disabled],#send_code[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.common-btn:active{
    color: initial;
}
body {
    margin: 0px !important;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: inherit;
}
/*修改google浏览器，默认的聚焦黄色背景为白色*/
 input:-webkit-autofill,
 select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
 }
 /*ios删除input内阴影 */
 input{
    -webkit-appearance: none;
  }
 /* -----------------------------------替换插件的CSS---------------------------------------- */
input:focus,
.form-control:focus {
    outline: none;
    box-shadow: unset;
    border-color:#e1e4e8;
}
input.form-control {
    border-color: #e1e4e8;
    box-shadow: unset;
    border-radius: 3px;
}
/* ------------------------------jQuery message plug-in 1.0--------------------------------- */
 .jquery-message {
    letter-spacing: -1px;
    position: fixed;
	bottom: 50%;
    left: 25%;
    transform: translateY(50%);
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    display: none;
    opacity: 0;
    padding: 10px;
    border-radius: 3px;
    box-shadow:  1px 3px 20px -3px rgba(0,0,0,0.16);
    -moz-box-shadow:  1px 3px 20px -3px rgba(0,0,0,0.16);
    -webkit-box-shadow: 1px 3px 20px -3px rgba(0,0,0,0.16);
    z-index: 100000;
}
.jquery-error-message
{
    letter-spacing: -1px;
    position: fixed;
	bottom: 50%;
    left: 25%;
    transform: translateY(50%);
    width: 50%;
    color: white;
    background-color: red;
    text-align: center;
    display: none;
    opacity: 0; 
    padding: 10px;
    border-radius: 3px;
    box-shadow:  1px 3px 20px -3px #003333;
    -moz-box-shadow:  1px 3px 20px -3px #003333;
    -webkit-box-shadow:  1px 3px 20px -3px #003333;
    z-index: 100000;
}
.jquery-message .round, .jquery-error-message .round { 
   font-size: 1px;
   height: 1px; 
}

.jquery-message p, .jquery-error-message p{
   padding: 1em;
    display: inline-block;
    width: 100%;
    margin: 0px;
}

.jquery-message a, .jquery-error-message a {
    display: none;
}